@import "tailwindcss";

@theme {
  --font-lato: "Lato", sans-serif;
  --font-lora: "Lora", serif;
  --font-playfair: "Playfair Display", serif;
  --color-primary: #6d9eeb;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-base font-normal bg-white;
  font-family: var(--font-lora);
}
